# Spring Boot target build files
backend/target/
*.class
*.jar
*.war

# IDE files
.idea/
.vscode/
*.swp
*.tmp

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Temporary copy folders
"Agri - Copy/"
"Agri/"
